@{
  Layout ="_Layout";
}

@using Factory.Models;
@model Machine;

<h2>Edit details for @Html.DisplayFor(model => model.MachineName)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)
  @Html.LabelFor(model => model.MachineName)
  @Html.EditorFor(model => model.MachineName)
  @Html.Display("Enter Machine Status: operational, malfunctioning, or repair in progress")
  @Html.EditorFor(model => model.MachineStatus)
  @Html.Display("Enter Next Inspection Date")
  @Html.TextBoxFor(model => model.InspectionDate, new {type= "date"})
  <button class="btn btn-success" type="submit">Edit Machine Details</button>
}

<button class="btn btn-dark">@Html.ActionLink("Back to Machine List", "Index")</button>