@{
  Layout = "_Layout";
}

@using Factory.Models
@model Engineer;

<h4>Add new Engineer</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.EngineerName)
  @Html.TextBoxFor(model => model.EngineerName)
  <p>Engineer Status - idle or working: 
  @Html.DropDownListFor(model => model.EngineerStatus, new SelectList(Enum.GetValues(typeof(Status)), "Select Status")) </p>
  <p>Enter License Expiration Date: 
  @Html.TextBoxFor(model => model.LicenseExpDate, new {type= "date"})</p>
  <button class="btn btn-success" type="submit">Create new engineer entry</button>
}

<button class="btn btn-dark">@Html.ActionLink("Return to all engineers", "Index")</button>