@{
  Layout ="_Layout";
}

@using Factory.Models;
@model Engineer;

<h2>Edit details for @Html.DisplayFor(model => model.EngineerName)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)
  @Html.LabelFor(model => model.EngineerName)
  @Html.EditorFor(model => model.EngineerName)
  <p>Engineer Status: 
  @Html.DropDownListFor(model => model.EngineerStatus, new SelectList(Enum.GetValues(typeof(EngieStatus)), "Select Status"))</p>
  <p>Enter License Expiration Date: 
  @Html.TextBoxFor(model => model.LicenseExpDate, new {type= "date"})</p>
  <button class="btn btn-success" type="submit">Edit Engineer Details</button>
}

<button class="btn btn-dark">@Html.ActionLink("Back to Engineer List", "Index")</button>